<header class="nav col-12 col-md-auto mb-2 d-flex justify-content-center py-3">
  <div class="row row-header">
    <div class="col-md-3 item-container">
      <a href="/" class="fs-1 d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img class="img img-logo" src="../../../assets/images/logo.png" alt=""></a>
    </div>
    <div class="col-md-6 text-center item-list">
      <ul class="nav nav-pills">
        <li class="nav-item"><a [routerLink]="'/home'" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a [routerLink]="'/entity'" class="nav-link">Entidades</a></li>
        <li class="nav-item"><a [routerLink]="'/product'" class="nav-link">Productos</a></li>
        <li class="nav-item"><a [routerLink]="'/person'" class="nav-link">Personas</a></li>
        <li class="nav-item"><a [routerLink]="'/cat'" class="nav-link">Categorias</a></li>
      </ul>
    </div>
    <div class="col-md-3 text-end button-group">
      <button type="button" class="btn btn-outline-primary me-2"
        (click)="onClick(loggedButton)">{{loggedButton}}</button>
      <button [hidden]="loggedButton === 'Logout'" type="button" class="btn btn-primary"
        (click)="onClick('register')">Registro</button>
    </div>
  </div>
</header>