<div class="container">
    <div class="card card-filter">
        <app-filter class="filter-container">
            <form [formGroup]="form" class="form" form>
                <div class="row">
                    <div class="col col-6">
                        <div class="form-group">
                            <label>Filtro de categorias: </label>
                            <select class="form-control" formControlName="category">
                                <option value='-1' selected></option>
                                <option *ngFor="let item of categoryList" [value]="item.name">{{item?.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6 button-container">
                        <button (click)="onSearch()" class="btn btn-primary"><i class="bi bi-search"></i>
                            Buscar</button>
                        <button (click)="onClean()" class="btn btn-primary">
                            Limpiar</button>
                    </div>
                </div>
            </form>
        </app-filter>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <h5 class="card-title">Lista de Entidades</h5>
                </div>
                <div class="col-6">
                    <div class="button-group">
                        <button *ngIf="selectedEntityId" class="btn btn-primary" (click)="openModal()"><i class="bi bi-eye-fill"></i> Ver</button>
                        <button [routerLink]="'/entity-create'" *ngIf="checkLoggin()" class="btn btn-primary"><i class="bi bi-plus-circle-fill"></i>
                             Crear</button>
                        <button (click)="onDeleteEntity(selectedEntityId)" *ngIf="selectedEntityId && checkLoggin()" class="btn btn-primary"><i class="bi bi-trash-fill"></i> Eliminar</button>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-12">
                    <select  class="form-select" size="10" [ngModel]="selectedEntityId"
                        (ngModelChange)="getSelectedItem($event)">
                        <option *ngFor="let item of entityList" [value]=item?.id>{{item?.name}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>