.card-title{
   text-align: center;
}

button{
   margin-top: 10px;
}

.card{
   margin-bottom: 20px;
}

p{
   margin:0px;
}

.selected-item-container{
   overflow-y: auto;
   max-height: 100px;
   position: relative;
}

.select-row{
   position:relative;
}

i{
   margin-left: 3px;
}

i:hover{
   color: blue;
}