<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <h5 class="card-title">Lista de Productos</h5>
                </div>
                <div class="col-6">
                    <div class="button-group">
                        <button *ngIf="selectedProductId" class="btn btn-primary" (click)="openModal()"><i class="bi bi-eye-fill"></i> Ver</button>
                        <button [routerLink]="'/product-create'" *ngIf="checkLoggin()" class="btn btn-primary"><i class="bi bi-plus-circle-fill"></i>
                             Crear</button>
                        <button (click)="onDeleteEntity(selectedProductId)" *ngIf="selectedProductId && checkLoggin()" class="btn btn-primary"><i class="bi bi-trash-fill"></i> Eliminar</button>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-12">
                    <select  class="form-select" size="10" [ngModel]="selectedProductId"
                        (ngModelChange)="getSelectedItem($event)">
                        <option *ngFor="let item of productList" [value]=item?.id>{{item?.name}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>