.selected-item-container{
  overflow-y: auto;
  max-height: 600px;
  position: relative;
}
.item:hover {
  color: gray;
  cursor: pointer;
}

.button-group{
  float:right;
}

button{
  margin-bottom: 10px;
  margin-right: 5px;
}

.container{
  height: 100%;
  display: flex;
  align-items: center;
}

.card{
  width: 100%;
}
