<div class="container">
  <div class="card mb-3">
    <div class="row g-0">
      <div *ngIf="imgUrl" class="col-md-4">
        <img src="{{imgUrl}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"> {{nameObject.name}} {{nameObject?.surname}}</h5>
          <div *ngFor="let item of personObject">
            <p *ngIf="item?.value" class="card-text">{{item?.title}} {{item?.value}}</p>
          </div>
         <p *ngIf="wikiUrl?.value">{{wikiUrl.title}}<a target="_blank" href="{{wikiUrl}}"><span> {{wikiUrl?.value}}</span></a></p> 
        </div>
      </div>
    </div>
  </div>
  <div class="button-group">
    <button (click)="close()" class="btn btn-primary">Cerrar</button>
    <button (click)="onClickEdit()"class="btn btn-primary "><i class="bi bi-pencil-fill"></i>
      Editar</button>
  </div>
</div>