<div class="container">
  <div class="card mb-3">
    <div class="row g-0">
      <div *ngIf="imgUrl" class="col-md-4">
        <img src="{{imgUrl}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <div *ngFor="let item of personObject">
            <p class="card-text">{{item.value}}</p>
          </div>
          <a  target="_blank" *ngIf="wikiUrl" href="{{wikiUrl}}"><span>{{wikiUrl}}</span></a>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
    </div>
  </div>
  <button (click)="close()" class="btn btn-primary">Cerrar</button>
</div>